:root {
  --primary-color: #26bad4;
  --dark-color: #333333;
  --secondary-color: #dc004e;
  --background-color: #f8f8f8;
  --background-hover: #444444;
  --background-primary: #26bad4;
  --background-primary-color: #26bad4;
  --text-color: #333333;
  --text-primary: #ffffff;
  --bg-white: #ffffff;
  --dark-hover-color: "#000";
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
